<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767429013713-d7vqn73h9ttijlu26qtki8g64hjej5cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767429013713-d7vqn73h9ttijlu26qtki8g64hjej5cb</string>
	<key>API_KEY</key>
	<string>AIzaSyDrT_YStkWuQ2B0TU_1wK8_7aFN2WYrwsE</string>
	<key>GCM_SENDER_ID</key>
	<string>767429013713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beedu.aitriage</string>
	<key>PROJECT_ID</key>
	<string>aitriage-test</string>
	<key>STORAGE_BUCKET</key>
	<string>aitriage-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767429013713:ios:dce583b2087cfef35a95f0</string>
	<key>DATABASE_URL</key>
	<string>https://aitriage-test-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>